<%- include("partials/header.ejs")%>
<%- include("partials/navbar.ejs")%>
<div class="container ">
    <br>
    <br>
    <br>
    <h1 class="text-center">Welcome to your personal finance system!</h1>
    <img src="_images/goals.svg" alt="" class="img-fluid rounded mx-auto d-block">
   
</div>
<%- include("partials/footer.ejs")%>